*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* padding: 20px 100px; */
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(/assets/css/images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
img{
  width: 150px;
}
.nav-links>ul{
 display: flex;
 justify-content: end;
 align-items: end;
 list-style: none;
 gap: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
  transition: 0.5s;
}
a{
  text-decoration: none;
  color: white;
}
.text>h1{
  font-size: 50px;
  color: white;
  margin-top: 200px;
  text-align: center;
}
.text>p{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  border: 2px solid white;
  padding: 10px 25px;
  color: ;
  background-color: rgb(195, 111, 80);
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}